<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="./output.css" rel="stylesheet" />
        <title><!-- title --></title>
    </head>

    <body>
        <nav class="border-b p-4">
            <div class="max-w-screen-md mx-auto flex justify-between">
                <a href="/">home</a>
                <div class="flex gap-x-4">
                    <!-- sign in/up -->
                </div>
            </div>
        </nav>
        <!-- slot -->
    </body>
</html>
